.splash{
    position:fixed;
    background-color: var(--main-dark);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    
}

.splashText{
    width: 100%;
    color:var(--main-white);
    font-weight: 900;
}